.listWebpartContainer {
    margin-bottom:70px;
  }
  
.galleryBackNavigation .tab-header {
    margin-top: 20px;
    margin-bottom: 20px;
}

[data-automation-id="listViewWebPartSeeAll"] {
    display: none;
}