.inner-banner-section {
	position: relative;
	top: 0px;
	left: 0px;
	overflow: hidden;
}

.side-by-side-section .content2Title {
	font-size: 26px;
	font-family: 'Gill Sans';
	color: #000;
	margin-bottom: 25px;
	line-height: 43px;
	font-weight: 600;

}

.banner-content {
	position: absolute;
	left: auto;
	top: 50%;
	transform: translate(0%, -50%);
	color: #FFF;
}

.banner-content h1,
.banner-content p {
	color: #FFF;
}

.main-content.careers-wrapper {}

.main-content.careers-wrapper .section-wrapper {
	padding: 40px 90px;
}

.main-content.careers-wrapper .section-wrapper h1 {
	font-size: 26px;
	color: #000;
	margin-bottom: 30px;
	font-family: 'Gill Sans' !important;
}

.side-by-side-section img {
	float: left;
	width: 50%;
}

.main-content.careers-wrapper .section-wrapper h2 {
	font-size: 26px;
	color: #000;
	margin-bottom: 25px;
	line-height: 43px;
	float: right;
	width: 50%;
}

.main-content.careers-wrapper .section-wrapper h2 span.color-secondary {
	color: #940a70;
	font-weight: 600;
}

.main-content.careers-wrapper .section-wrapper p {
	font-size: 20px;
	color: #000;
	margin-bottom: 10px;
	line-height: 30px;
}

.main-content.careers-wrapper .section-wrapper h2+p {
	font-size: 18px;
	color: #444;
	margin-bottom: 0;
	line-height: 28px;
	float: right;
	width: 50%;
}

.main-content .content-wrapper .card.job-opening-card {
	border: 1px solid #DFDFE1 !important;
	border-radius: 5px;
	height: 100%;
	font-family: 'Gill Sans';
}

.main-content .content-wrapper .card.job-opening-card .card-img {
	max-height: 200px;
	background: #F5F5F5;
	min-height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 0;
}

.main-content .content-wrapper .card.job-opening-card .card-img img {
	width: 90px;
}

.main-content .content-wrapper .card.job-opening-card .card-body {
	padding-top: 30px;
	text-align: center;
	padding-bottom: 30px;
	padding-left: 5px;
	padding-right: 5px;
	display: grid;
	align-items: end;
}

.main-content .content-wrapper .card.job-opening-card .card-title {
	font-size: 20px;
	line-height: 28px;
	color: #000;
	margin-bottom: 20px;
}

.main-content .content-wrapper .card.job-opening-card .card-text {
	font-size: 16px;
	line-height: 23px;
	color: #666;
	margin-bottom: 35px;
}

.main-content .content-wrapper .card.job-opening-card .btn {
	min-width: 158px;
	padding: 9px 15px;
}

.stretch-card {
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: stretch;
	align-items: stretch;
	-webkit-justify-content: stretch;
	justify-content: stretch;
}


.section-wrapper {
	border: 1px solid #DFDFE1;
	border-radius: 5px;
	overflow: hidden;
	background: #fff;
}



.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
	display: flex;
}

.divider-horizontal {
	background: #DFDFE1;
	opacity: 1;
}

@media (max-width: 767px) {
	.leadership-carousel .carousel-inner .js-carousel-item>div {
		display: none;
	}

	.leadership-carousel .carousel-inner .js-carousel-item>div:first-child {
		display: block;
	}

	.leadership-carousel .carousel-inner .js-carousel-item.carousel-item-end.active,
	.leadership-carousel .carousel-inner .js-carousel-item.carousel-item-next {
		transform: translateX(100%);
	}

	.leadership-carousel .carousel-inner .js-carousel-item.carousel-item-start.active,
	.leadership-carousel .carousel-inner .js-carousel-item.carousel-item-prev {
		transform: translateX(-100%);
	}
}

.leadership-carousel .carousel-inner .js-carousel-item.carousel-item.active,
.leadership-carousel .carousel-inner .js-carousel-item.carousel-next,
.leadership-carousel .carousel-inner .js-carousel-item.carousel-item-prev {
	display: flex;
}

@media (min-width: 768px) {

	.leadership-carousel .carousel-inner .js-carousel-item.carousel-item-end.active,
	.leadership-carousel .carousel-inner .js-carousel-item.carousel-item-next {
		transform: translateX(25%);
	}

	.leadership-carousel .carousel-inner .js-carousel-item.carousel-item-start.active,
	.leadership-carousel .carousel-inner .js-carousel-item.carousel-item-prev {
		transform: translateX(-25%);
	}
}

.leadership-carousel .carousel-inner .js-carousel-item.carousel-item-end,
.leadership-carousel .carousel-inner .js-carousel-item.carousel-item-start {
	transform: translateX(0px);
}

.leadership-carousel .carousel-inner .js-carousel-item.carousel-item-next,
.leadership-carousel .carousel-inner .js-carousel-item.carousel-item-prev,
.leadership-carousel .carousel-inner .js-carousel-item.carousel-item.active {
	display: flex;
}

.view-profile {
	border: 0;
	background: #FFF;
	font: 18px/41px Gill Sans;
	letter-spacing: 0px;
	color: #9D0E71;
	text-decoration: none;
}

.view-profile:hover {
	color: #9D0E71;
}

.view-profile span {
	line-height: normal;
}

.view-profile span img {
	margin-top: -8px;
}

.profile-wrapper {
	padding: 90px;
}

.profile-img img {
	border: 1px solid #DDD;
	padding: 10px;

	margin-bottom: 36px;
}

.view-profile-content {
	padding-left: 30px;
}

.view-profile-content * {
	font-size: 18px;
	color: #666;
}

.toggle,
.toggle1,
.toggle2 {
	text-decoration: underline;
	border: 0;
	background: #FFF;
	padding: 0;
	color: #9D0E71;
	display: none;
}

.more,
.more1,
.more2 {
	display: none;
}

.leadership-team-section .button-container {
	display: flex;
	gap: 24px;
	justify-content: end;
	align-self: end;
	justify-self: end;
}

.leadership-team-section .button-container button {
	width: 40px;
	height: 40px;
	position: relative;
	background: #9D0E710D;
	border-radius: 80px;
	opacity: 1;
}

.leadership-team-section .button-container button .carousel-control-prev-icon {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%239D0E71'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
	width: 14px;
	height: 14px;
}

.leadership-team-section .button-container button .carousel-control-next-icon {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%239D0E71'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
	width: 14px;
	height: 14px;
}

@media (min-width: 992px) {

	.modal-lg,
	.modal-xl {
		max-width: 1100px;
	}

	.our-culture-content {
		/*height: 360px;
				overflow-y: auto;*/
		padding: 0px 40px 0px 0px;
	}

	.our-purpose-section {
		border-right: 1px solid #DFDFE1;
	}

	.about-content {
		padding: 50px;
	}

	.leadership-section .leadership-content {}


	.more,
	.more1,
	.more2 {
		display: block;
	}


}



.leadership-team-section .button-container {
	text-align: center;
}

.profile-content b {
	color: #9D0E71;
}

.team-card:hover {
	border: 1px solid #9D0E71;
	border-radius: 5px;
	background: #fff;
	margin: 0px 10px;
	box-shadow: 0px 3px 20px #00000029;
	transition: all 300ms ease;
	cursor: pointer;
}

.profile-modal {}

.profile-modal .modal-header {
	border: 0;
}

.profile-modal .modal-body {
	padding: 0;
}

.profile-modal.modal.show {
	/* max-width: 1449px; */
	/* margin: 0 auto; */
}

.profile-modal.modal.show .modal-lg {
	max-width: 1449px;
}

.profile-modal.modal.show .modal-header .btn-close {
	background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%239D0E71'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
	opacity: 1;
}

.profile-modal.modal.show .modal-content {
	border: 0;
	border-radius: 5px;
}

.navbar-light .navbar-toggler {
	padding: 0;
	margin-right: 15px;
	border: none;
	line-height: normal;
	height: auto;
	box-shadow: none;
}

.navbar-light .navbar-toggler-icon {
	background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23300B55' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

@media (max-width: 767px) {

	.toggle,
	.toggle1,
	.toggle2 {
		display: block;
	}

	.page-header .page-header-img img {
		min-height: 175px;
		object-fit: cover;
	}

	.page-title {
		max-width: 100%;
		padding: 0;
	}

	.page-title p {
		font-size: 14px;
		margin-bottom: 14px;
	}

	.page-title h1 {
		font-size: 22px;
		line-height: 28px;
		font-weight: 500;
	}

	.main-content .content-wrapper {
		padding: var(--bs-gutter-x, .75rem) 0 0 0;
	}

	.main-content {
		padding-bottom: 40px;
	}

	.search-bar {
		width: 100%;
	}

	.main-content.careers-wrapper .section-wrapper {
		padding: 15px;
	}

	.main-content.careers-wrapper .section-wrapper .side-by-side-section {
		display: flex;
		flex-direction: column;
	}

	.main-content.careers-wrapper .section-wrapper .side-by-side-section img,
	.main-content.careers-wrapper .section-wrapper .side-by-side-section h2,
	.main-content.careers-wrapper .section-wrapper .side-by-side-section p {
		width: 100%;
		float: none;
	}

	.main-content.careers-wrapper .section-wrapper h2 {
		font-size: 20px;
		line-height: normal;
		order: 0;
	}

	.main-content.careers-wrapper .section-wrapper .side-by-side-section img {
		order: 1;
		margin-bottom: 20px;
	}

	.main-content.careers-wrapper .section-wrapper .side-by-side-section p {
		order: 2;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.main-content.careers-wrapper .section-wrapper {
		padding: 40px 30px;
	}
}

@media (min-width: 1280px) and (max-width:1366px) {
	.side-by-side-section .content2Title {
		font-size: 22px;
		margin-bottom: 20px;
		line-height: 30px;
	}
}

/*@media (min-width: 1400px) {

			.container,
			.container-lg,
			.container-md,
			.container-sm,
			.container-xl,
			.container-xxl {
				max-width: 1600px;
			}
		}*/