.user-dropdown.show {
    width: 350px;
}

.navbar-user-login {
    padding: 10px 20px;
}

.navbar-user-login .user-details .user-name {
    color: #9D0D71;
    margin-bottom: 0px;
}

.navbar-user-login .user-details .user-email {
    margin-bottom: 0px;
}

.navbar-user-login .user-details .organizational-chart-link {
    color: #9D0D71;
}

.organization-hierarchy-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hierarchy-item {
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 20px;
    border: 1px solid #D4D4D4;
    max-width: 371px;
    margin: 10px 0px;
    border-radius: 5px;
    min-height: 113px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 1;
    background: #fff;
    margin-top: 0;
    margin-bottom: 15px;
}

.organization-hierarchy-wrapper ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
    position: relative;
}

.organization-hierarchy-wrapper>ol:after {
    content: '';
    width: 1px;
    height: 100%;
    background: #D4D4D4;
    display: block;
    position: absolute;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;
}

.organization-hierarchy-wrapper ol .hierarchy-item {}

li.level-two {}

li.level-two ol {
    display: inline-flex;
    gap: 15px;
}

li.level-two ol li.level-three {}

li.level-two ol li.level-three .hierarchy-item {
    min-width: 318px;
    max-width: 318px;
    min-height: 98px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 15px;
    margin-bottom: 0;
}

li.level-two>.hierarchy-item {
    margin-bottom: 0;
    background: #F2F2F2;
    border-color: #9D0E71;
}

.organization-hierarchy-wrapper ol li.level-one {
    position: relative;
    z-index: 3;
}

.organization-hierarchy-wrapper ol li.level-one .profile-icon {
    background: #FBE4F4;
    border-radius: 100px;
    overflow: hidden;
}

.organization-hierarchy-wrapper ol li.level-two .profile-icon {
    background: #FBE4F4;
    border-radius: 100px;
    overflow: hidden;
}

.organization-hierarchy-wrapper ol li.level-three .profile-icon {
    background: #BCE8F3;
    border-radius: 100px;
    overflow: hidden;
}

.organization-hierarchy-wrapper ol .hierarchy-item .profile-details {}

.organization-hierarchy-wrapper ol .hierarchy-item .profile-details .name {
    font-size: 20px;
    color: #000;
    font-weight: 500;
    line-height: normal;
}

.organization-hierarchy-wrapper ol .hierarchy-item .profile-details .designation {
    font-size: 18px;
    color: #9D0E71;
    line-height: normal;
}

.organization-hierarchy-wrapper ol .hierarchy-item .profile-details .department {
    font-size: 18px;
    color: #666;
    line-height: normal;
}

li.level-two ol li.level-three .hierarchy-item .profile-details {}

li.level-two ol li.level-three .hierarchy-item .profile-details .name {
    font-size: 18px;
}

li.level-two ol li.level-three .hierarchy-item .profile-details .designation {
    font-size: 16px;
}

li.level-two ol li.level-three .hierarchy-item .profile-details .department {
    font-size: 16px;
}

.current-user img {
    width: 75px;
}

#viewOrganizationChart .modal-header {
    border-bottom: none;
}

.user-1 {
    padding: 0;
    width: 75px;
    height: 75px;
    background: #FBE4F4;
    border-radius: 80px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
}

.user-1 img,
.user-2 img {
    width: 25px;
}

.user-2 {
    padding: 0;
    width: 65px;
    height: 65px;
    background: #FBE4F4;
    border-radius: 80px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
}

h2.chart-heading {
    font-size: 24px;
    text-align: center;
    color: #000;
    margin-top: 20px;
    margin-bottom: 30px;
}


/* FORMS */

#qbox-container {
    position: relative;
    /*padding: 20px;*/

}

#steps-container {
    margin: auto;
    width: 100%;
    display: flex;
    vertical-align: middle;
    align-items: center;
}

.step {
    display: none;
}

.step h4 {
    margin: 0 0 30px 0;
    padding: 0;
    position: relative;
    font-weight: 600;
    font-size: 22px;
    font-family: 'Gill Sans';
}

#q-box__buttons button#prev-btn,
#q-box__buttons button#next-btn,
#q-box__buttons button#submit-btn {
    font-size: 16px;
    position: relative;

    background: none;
    margin: 0 auto;
    margin-top: 40px;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
    transition: color .3s;
    text-align: center;
    color: #000;
    border: 0;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    font-weight: 600;
    font-family: 'Gill Sans';
}


#q-box__buttons button#next-btn i {
    margin-left: 10px;
}

#q-box__buttons button#prev-btn i {
    margin-right: 10px;
}


#q-box__buttons button#prev-btn:after,
#q-box__buttons button#next-btn:after,
#q-box__buttons button#submit-btn:after {
    position: absolute;
    top: 90%;
    left: 0;
    width: 100%;
    height: 100%;
    background: none;
    content: "";
    z-index: -2;
    transition: transform .3s;
}

#q-box__buttons button#prev-btn:hover::after,
#q-box__buttons button#next-btn:hover::after,
#q-box__buttons button#submit-btn:hover::after {
    transform: translateY(-80%);
    transition: transform .3s;
}



/*.q__question {
position: relative;
}

.q__question:not(:last-child) {
margin-bottom: 10px;
}

.question__input {
position: absolute;
left: -9999px;
}

/*.question__label {
position: relative;
display: inline-block;
line-height: 40px;
border-radius: 5px;
background-color: #fff;
padding: 5px 20px 5px 50px;
cursor: pointer;
transition: all 0.15s ease-in-out;
font-size: 18px;
font-family: 'Gill Sans';
color: #000000;
}*/

.question__label:hover {
    border-color: #DC3545;
}

/*.question__label:before,
.question__label:after {
position: absolute;
content: "";
}

.question__label:before {
top: 12px;
left: 10px;
width: 26px;
height: 26px;
border-radius: 50%;
background-color: #fff;
box-shadow: inset 0 0 0 1px #ced4da;
-webkit-transition: all 0.15s ease-in-out;
-moz-transition: all 0.15s ease-in-out;
-o-transition: all 0.15s ease-in-out;
transition: all 0.15s ease-in-out;
}*/



#q-box__buttons {
    text-align: left;
}


#success {
    display: none;
}

#success h4 {
    color: #DC3545;
}

.back-link {
    font-weight: 700;
    color: #DC3545;
    text-decoration: none;
    font-size: 18px;
}

.back-link:hover {
    color: #82000a;
}


.social-media-section .button-bottom .carousel-control-prev,
.social-media-section .button-bottom .carousel-control-next {
    width: 40px;
    height: 40px;
    top: 50%;
    transform: translate(0px, -50%);
    border: 1px solid #fff;
    border-radius: 90px;
    margin: 0 40px;
}

.social-media-section .button-bottom {
    position: absolute;
    top: 60%;
}

.social-media-section .button-bottom .carousel-control-prev {
    left: -10%;
}

.social-media-section .button-bottom .carousel-control-next {
    right: -60%;
    left: auto;
}

.social-icon-footer ul li a span:first-child {
    width: 40px;
    height: 40px;
    background: #472668;
    border-radius: 80px;
    text-align: center;
    padding: 10px;
    display: inline-flex;
    align-items: flex-start;
    justify-content: center;
    margin-left: 0;
    flex-direction: column;
    margin-right: 10px;
}

.chatbox-wrapper {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1;
}

.chatbox-wrapper .chat-toggler {
    z-index: 2;
    position: relative;
}

.chatbox-wrapper .chat-toggler button {
    width: 90px;
    height: 90px;
    border: 0;
    background: transparent linear-gradient(146deg, #9D0E71 0%, var(--unnamed-color-300b55) 100%) 0% 0% no-repeat padding-box;
    background: transparent linear-gradient(146deg, #9D0E71 0%, #300B55 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 180px;
    color: #fff;
}

.chatbox-wrapper .chatbox {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 15px 12px #00000029;
    border-radius: 8px;
    padding: 50px 30px;
    position: absolute;
    opacity: 0;
    transition: all 300ms ease-in-out;
    bottom: 50px;
    right: 50px;
    z-index: 1;
    width: 400px;
    display: none;
}

.chatbox.showChatBox {
    opacity: 1;
    display: block;
}

.chatbox-header {}

.chatbox-header h4 {
    font-size: 20px;
    color: #000;
    margin: 0 0 10px 0;
}

.chatbox-header p {
    font-size: 16px;
    color: #000;
    margin: 0 0 20px 0;
}

.close-btn {
    position: absolute;
    right: 10px;
    top: 10px;
}

.close-btn .btn {
    border: 0;
    background: transparent;
    padding: 0;
}

.chatbox-body {}

.chatbox-body .form-control {
    background: #f6f6f6;
    border-color: #E0E0E0;
    margin-bottom: 20px;
    font-size: 16px;
    color: #000;
    border-radius: 5px;
}

.chatbox-body .btn {
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    background: transparent linear-gradient(90deg, var(--unnamed-color-300b55) 0%, #9D0E71 100%) 0% 0% no-repeat padding-box;
    background: transparent linear-gradient(90deg, #300B55 0%, #9D0E71 100%) 0% 0% no-repeat padding-box;
    border-radius: 5px;
}

.modal-backdrop.show {
    opacity: .8;
}

.btn-close {
    right: 15px;
    position: absolute;
}

.dropdown-username {
    margin-left: 10px;
}

.dropdown-username p {
    margin: 0;
    font-size: 18px;
    color: #6E5F49;
    line-height: 18px;
}

.dropdown-username h5 {
    margin: 0;
    font-size: 20px;
    color: #630C62;
    line-height: 20px;
    font-weight: 500;
}

.user-dropdown.dropdown .dropdown-toggle::after {
    content: '';
    display: block;
    background: url('images/icon-caret-dropdown.svg');
    width: 18px;
    height: 18px;
    border: 0;
    background-position: center;
    background-size: 32px;
    margin-left: 10px;
}

@media (min-width: 991px) {
    .collapse.dont-collapse-sm {
        display: block;
        height: auto !important;
        visibility: visible;
    }
}






.employee-offer-section .button-bottom .carousel-control-prev,
.employee-offer-section .button-bottom .carousel-control-next {
    width: 40px;
    height: 40px;
    top: 50%;
    transform: translate(0px, -50%);
    border: 1px solid #fff;
    border-radius: 90px;
    margin: 0 40px;
}

.employee-offer-section .button-bottom {
    position: absolute;
    top: 60%;
}

.employee-offer-section .button-bottom .carousel-control-prev {
    left: -10%;
}

.employee-offer-section .button-bottom .carousel-control-next {
    right: -60%;
    left: auto;
}



@media (min-width: 1280px) and (max-width: 1366px) {
    .home-page .calendar table tr td.day {
        padding: 6px;
    }

    .snap-share-wrapper-item {
        margin-bottom: 30px;
    }

    #employeeOffersControls {
        margin-bottom: 20px;
    }

    .step h4 {
        margin: 0 0 10px 0;
    }

    #q-box__buttons button#prev-btn,
    #q-box__buttons button#next-btn,
    #q-box__buttons button#submit-btn {
        margin-top: 20px;
    }

}






@media (max-width: 991px) {
    .newsletter-form input {
        width: 100%;
        min-width: 100%;
    }

    .latest-news-section .carousel-caption p {
        font-size: 20px;
        line-height: 20px;
    }
}

/* FORMS */






/*input[type="radio"] {
display: none;
}

label {
cursor: pointer;
position: relative;

}

label::before {
content: "";
position: absolute;
width: 30px;
height: 30px;
background-color: #FFF;
border: 2px solid red;
border-radius: 50%;
top: 50%;
left: -40px;
transform: translateY(-50%);
transition: border-color 400ms ease;
}

label::after {
content: "";
position: absolute;
width: 35px;
height: 35px;
background-color: red;
border: 2px solid red;
border-radius: 50%;
top: 50%;
left: -43px;
transform: translateY(-50%) scale(0);
transition: transform 400ms ease;
}

input[type="radio"]:checked + label::before {
border-color: var(--primary-color);
}

input[type="radio"]:checked + label::after {
transform: translateY(-50%) scale(0.55);
}*/



input[type="radio"] {
    display: none;
}



.q-box__question label {
    position: relative;
    display: inline-block;
    line-height: 42px;
    border-radius: 5px;
    background-color: #fff;
    padding: 5px 20px 5px 50px;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
    font-size: 18px;
    font-family: 'Gill Sans';
    color: #000000;
}

.q-box__question label::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    background-color: #FFF;
    border: 1px solid #707070;
    border-radius: 50%;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    transition: border-color 400ms ease;
}

.q-box__question label::after {
    content: "";
    position: absolute;
    width: 28px;
    height: 28px;
    background-color: #9D0D71;
    border: 1px solid #9D0D71;
    border-radius: 50%;
    top: 50%;
    left: -2px;
    transform: translateY(-50%) scale(0);
    transition: transform 400ms ease;
}

input[type="radio"]:checked+label::before {
    border-color: #9D0D71;
}

input[type="radio"]:checked+label::after {
    transform: translateY(-50%) scale(0.55);
}

@media (min-width: 320px) and (max-width: 991px) {
    li.level-two ol li.level-three .hierarchy-item {
        min-width: auto;
    }

    li.level-two ol {
        display: flex;
        gap: 0;
        flex-direction: column;
        width: 100%;
    }

    .user-dropdown.show {
        width: 300px;
        right: 0;
        left: inherit;
    }

    .chatbox-wrapper {
        z-index: 3;
    }

    .chatbox-wrapper .chatbox {
        width: 280px;
        right: 0px;
    }

    .chatbox-body textarea.form-control {
        height: 80px;
    }

    .dropdown-username {
        display: none;
    }

    .user-dropdown.dropdown .dropdown-toggle::after {
        margin-left: 0px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    li.level-two ol li.level-three .hierarchy-item {
        min-width: auto;
    }
}

/* Date Picker */
.spo-daypickerbox {
    /*box-shadow:0 3px 22px rgba(0,0,0,0.1);*/
    box-shadow: 0 3px 22px rgb(110 110 110 / 10%);
    border-radius: 8px;
    background-color: #ffffff;
    padding: 10px 20px;
    position: relative;
    left: 0;
    margin-top: 20px;
}

.spo-daypickerbox .title {
    text-align: left;
    font-weight: 700;
    font-size: 22px;
    padding: 10px 0;
    border-bottom: 1px solid #F4F4F4;
    margin-bottom: 16px;
    line-height: 1.5;

    display: none !important
}

.spo-daypickerbox1 h4 {
    padding-top: 12px;
    margin-bottom: 16px;
    font-size: 16px;
    font-family: 'Graphik-Semibold' !important;
    line-height: 1.5;
}

.spo-daypickerbox>div {
    width: 100% !important;
    padding: 0 !important;
}

.spo-daypickerbox .legend {
    padding: 0 10px 20px;
    font-family: 'Proxima Nova Rg';
}

.spo-daypickerbox .legend span {
    position: relative;
}

.spo-daypickerbox .legend span:after {
    position: absolute;
    content: '';
    height: 10px;
    width: 10px;
    top: 1px;
    left: 0;
    border-radius: 10px;
}

.spo-daypickerbox .legend span:first-child:after {
    background: #9D0D71;
}

.spo-daypickerbox .legend span:nth-child(2):after {
    background: #E94B2E;
}

.spo-daypickerbox .legend span:nth-child(3):after {
    background: rgba(44, 95, 227, 1);
}

.spo-daypickerbox .events-of-month {
    font-size: 12px;
    line-height: 24px;
}

.spo-daypickerbox .events-of-month span {
    font-weight: bold;
}

.spo-daypickerbox .details {
    display: none;
}

.DayPicker {
    font-family: 'Proxima Nova Rg', Helvetica, sans-serif;
    width: 100%;
    max-width: 400px;
    font-size: 1.2rem !important;
}

.DayPicker .DayPicker-wrapper {
    background: #9D0E7105 0% 0% no-repeat padding-box;
    border: 1px solid #EBEBEB;
    opacity: 1;
}

.DayPicker-Weekday {
    display: table-cell !important;
    padding: 10px 0 !important;
    color: #494949 !important;
    text-align: center;
    font-size: 10px !important;
    text-transform: uppercase !important;
    line-height: 15px !important;
    letter-spacing: 0.7px !important;
    font-family: 'Proxima Nova Rg', Helvetica, sans-serif;
    /* margin-top: 10px; */
    /* margin-bottom: 10px; */
    font-weight: 700;
}

.DayPicker-Month {
    display: table !important;
    margin: 1em 1em 0;
    margin: 0 !important;
    border-spacing: 2px 5px !important;
    border-collapse: separate !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
}

.DayPicker-Caption {
    padding: 1em;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.DayPicker-Caption div {
    font-size: 12px;
    text-align: center
}

.DayPicker-Day {
    border-radius: 50%;
    text-align: center;
    /*width: 18px;
	height: 18px;*/
    position: relative;
    width: 8%;
    height: 0;
    padding-bottom: 4% !important;
    padding-top: 4% !important;
}

.DayPicker-NavBar {
    margin: 20px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #EBEBEB;
    opacity: 1;
    padding: 8px;
    border-radius: 5px;
    line-height: 0.5em;
}

/* 
.DayPicker-Day--today:not(.DayPicker-Day--outside) {
    background-color: #9D0D71;
    color: #494949 !important;
}

.DayPicker-Day--holiday:not(.DayPicker-Day--outside) {
    background-color: #E94B2E !important;
}

.DayPicker-Day--event:hover {
    background-color: #007bff !important;
    color: white;
} */

.eventDetail {
    margin-bottom: 10px;
    display: flex;
}

.eventDetail .datebox {
    margin-right: 5px;
}

.DayPicker-Day {
    cursor: auto !important;
    font-size: 13px;

}

.DayPicker-Day--outside {
    background-color: transparent !important;
}



.DayPicker-Day--holiday:not(.DayPicker-Day--outside):not(.DayPicker-Day--event) {
    /*background-color: #E94B2E!important;*/
    color: #000;
}

.DayPicker-Day--holiday:not(.DayPicker-Day--outside):not(.DayPicker-Day--event):after {
    content: '';
    display: inline-block;
    width: 5px;
    height: 5px;
    -moz-border-radius: 7.5px;
    -webkit-border-radius: 7.5px;
    border-radius: 7.5px;
    background-color: #E94B2E;
    position: absolute;
    bottom: 7px;
    left: 45%;
    transform: translate(0px, 0px);
}

.DayPicker-Day--event:not(.DayPicker-Day--outside) {
    /*background-color: #036ef8!important;*/
    color: #000;
}

.DayPicker-Day:not(.DayPicker-Day--today):not(.DayPicker-Day--event):not(.DayPicker-Day--holiday):hover {
    background-color: transparent !important;
}

.DayPicker-Day--today:hover {
    background-color: #9D0D71 !important;
}

/*.DayPicker-Day--holiday:not(.DayPicker-Day--outside):hover {
        background-color: #E94B2E !important;
    }*/

/* .DayPicker-Day--event:not(.DayPicker-Day--outside):not(.DayPicker-Day--holiday):hover {
        background-color: #036ef8!important;
    }*/

.DayPicker-Day--today,
.DayPicker-Day--holiday,
.DayPicker-Day--event {
    cursor: pointer !important;
}


.DayPicker-Day--today:not(.DayPicker-Day--outside) {
    background-color: #9D0D71;
    color: #fff !important;
}

/*.DayPicker-Day--holiday:not(.DayPicker-Day--outside){
    background-color: #E94B2E !important;
}*/

.datebox.Event {
    background-color: #036ef8;
}

.datebox.Holiday {
    background-color: #f5604d;
}

.datebox.Holiday,
.datebox.Event {
    display: inline-block;
    text-align: center;
    line-height: 1;
    color: #fff;
    font-size: 12px;
    border-radius: 20px;
    height: 23px;
    width: 23px;
    padding: 6px 4px;
}

.eventsWrapper {
    margin-bottom: 1em;
    padding: 33px 10px;
}

.event {
    font-size: 12px;
    line-height: 22px;
    letter-spacing: .5px;
}

.DayPicker-Caption>div {
    position: relative;
    top: -51px;
    color: #9D0D71;
    font: normal normal bold 20px/24px Gill Sans;
    width: 80%;
    margin: auto;
}

.DayPicker-NavButton--prev {
    background-image: none !important;
    /*margin-right: 20px;
    position: absolute;
    left: 0*/
}

.DayPicker-NavButton--prev:after {
    content: "\f104";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 1.2em;
    line-height: 1;
    position: absolute;
    left: 0;
    top: -10px;

}

.DayPicker-NavButton--next {
    background-image: none !important;
    /*position: absolute;
    right: 0*/
}

.DayPicker-NavButton--next:after {
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 1.2em;
    line-height: 1;
    position: absolute;
    right: 0;
    top: -20px;
}



/*.DayPicker-NavButton {
    position: absolute;
    top: 8px;
    right: 20px;
    left: auto;
    display: block;
    margin-top: 2px;
    width: 1.25em;
    height: 1.25em;
    background-position: 50%;
    background-size: 50%;
    background-repeat: no-repeat;
    color: #8b9898;
    cursor: pointer;
}*/

.DayPicker-NavButton {
    position: relative !important;
    top: 0 !important;
    right: 0 !important;
    left: 0 !important;
    display: inline-block !important;
    width: 100% !important;
    height: 100% !important;
}

.DayPicker-Caption {
    display: table-caption;
    margin-bottom: -1.5em !important;
    padding: 0 .5em;
    text-align: left;
}

@media screen and (max-width: 1100px) and (min-width: 992px) {

    .DayPicker-Day,
    .DayPicker-WeekNumber {
        padding: .1em !important;
    }
}

.legend {
    position: relative;
    top: -40px;
    padding: 10px;
}

.legend span {
    position: relative;
    padding: 0 0 0 1.4em;
    margin-right: 1.2em;
    padding: 8px 25px;
    font-size: .75em;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #EBEBEB;
    border-radius: 20px;
}

.legend span:after {
    position: absolute;
    content: '';
    height: 10px;
    width: 10px;
    top: 10px;
    left: 10px;
    border-radius: 10px;
}

.legend span:first-child:after {
    background: #9D0D71;
}

.legend span:nth-child(2):after {
    background: #0DC49A;
}

/* Date Picker End*/

/* My Apps */
.my-app .carousel .carousel-control-prev,
.my-app .carousel .carousel-control-next {
    background: #f9f3f8;
    margin: 0;
    width: 30px;
    height: 30px;
    position: relative;
    display: inline-block;
    top: 0;
    transform: translate(0px, 0px);
    opacity: 1;
}

.my-app .carousel .carousel-control-prev .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%239e1f7d'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
    height: 12px;
}

.my-app .carousel .carousel-control-next .carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%239e1f7d'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    height: 12px;
}

.my-app .navlink {
    text-decoration: none;
}

/* My Apps End*/