		.business-details-content-section article.wrapper {
			background: #FFF;
			padding: 50px;
			font-family: 'Gill Sans';
			border: 1px solid #DEDEDE;
			border-radius: 5px;
		}

		.business-details-content-section .title h2 {
			letter-spacing: 0px;
			color: #000000;
			font-size: 34px;
			font-weight: 500;
		}

		.intro-text-section h6 {
			color: #750D67;
			font-family: 'Gill Sans';
			font-size: 20px;
			font-weight: 500;
			margin-bottom: 20px;
		}


		.intro-text-section p {
			font-family: 'Gill Sans';
			font-size: 16px;
			letter-spacing: 0px;
			color: #444444;
		}




		.txt-img-section .row {
			display: flex;
		}

		.txt-img-section .row:nth-of-type(2n) {
			flex-direction: row-reverse;
		}

		.txt-img-section h2 {
			font-family: 'Gill Sans';
			font-size: 35px;
		}

		.inner-banner-section {
			background: transparent linear-gradient(271deg, #9D0D71 0%, #300B55 100%) 0% 0% no-repeat padding-box;
			padding: 50px 0px;
		}

		.icon-quote {
			text-align: center;
			margin-bottom: 18px;
		}

		.inner-banner-section p {
			color: #FFF !important;
			max-width: 80%;
			text-align: center;
			margin: 0 auto;
		}

		.content-txt-section p {
			font-family: 'Gill Sans';
			font-size: 16px;
			letter-spacing: 0px;
			color: #444444;
		}

		ul.news-list-style {
			list-style-type: none;
			margin: 0;
			padding: 0;
		}

		ul.news-list-style li {
			position: relative;
			margin-bottom: 0;
			padding: 10px 0px 0 30px;
		}

		ul.news-list-style li i {
			position: absolute;
			left: 0;
			top: 6px;
		}

		ul.news-list-style li i img {
			float: none !important;
			width: 100% !important;
			padding: 0 !important;
			height: 22px;
			min-width: 22px;
		}

		.inner-banner-section .quote-author .name {
			margin: 0;
			max-width: initial;
			font-size: 18px;
			line-height: 30px;
			margin-bottom: 10px;
		}

		.inner-banner-section .quote-author .location {
			margin: 0;
			max-width: initial;
			font-size: 14px;
			line-height: 18px;
			color: #B8B8B8 !important;
		}

		.inner-banner-section .quote-author:before {
			content: '';
			width: 5%;
			height: 1px;
			background: #fff;
			display: block;
			margin: 30px auto 10px;
		}

		.txt-img-section {}

		.txt-img-section .side-by-side {
			overflow: hidden;
			margin-bottom: 60px;
		}

		/*.txt-img-section .side-by-side img {
			float: left;
			width: 50% !important;
			padding-right: 30px;
			margin: 0;
		}

		.txt-img-section .side-by-side h2,
		.txt-img-section .side-by-side p,
		.txt-img-section .side-by-side ul {
			float: right;
			width: 50%;
		}

		

		.txt-img-section .side-by-side.reverse img {
			float: right;
			padding-right: 0;
		}

		.txt-img-section .side-by-side.reverse h2,
		.txt-img-section .side-by-side.reverse p,
		.txt-img-section .side-by-side.reverse ul {
			width: calc(50% - 30px);
			float: none;
		}*/

		.business-details-content-section .txt-img-section {
			background-color: #FFF;
		}

		.business-details-content-section .txt-img-section h2 div[class^="ExternalClass"],
		.business-details-content-section .txt-img-section h2 div[class^="ExternalClass"] div,
		.business-details-content-section .txt-img-section h2 div[class^="ExternalClass"] span,
		.business-details-content-section .txt-img-section h2 div[class^="ExternalClass"] p {
			font-size: 35px !important;
			line-height: 40px
		}

		@media (max-width: 991px) {
			.main-content .content-wrapper {
				padding: 0;
			}

			.main-content .content-wrapper article.wrapper {
				border: 0;
				padding: 15px 10px;
			}

			.business-details-content-section .title h2 {
				font-size: 20px;
				font-weight: 600;
			}

			.intro-text-section {
				text-align: center;
			}

			.intro-text-section h6 {
				font-size: 18px;
				line-height: 28px;
				font-weight: 400;
			}

			.intro-text-section p {
				color: #666;
			}

			.txt-img-section .side-by-side img {
				float: none;
				width: 100% !important;
				padding: 0;
				margin-bottom: 20px;
				height: auto !important;
				order: 1;
				display: flex;
			}

			.txt-img-section .side-by-side h2,
			.txt-img-section .side-by-side p,
			.txt-img-section .side-by-side ul {
				float: none;
				width: 100% !important;
				padding: 0;
				margin-bottom: 20px;
			}

			.txt-img-section .side-by-side {
				display: flex;
				flex-direction: column;
				margin-bottom: 10px;
			}

			.txt-img-section .side-by-side h2 {
				font-size: 20px;
				line-height: 28px;
				order: 0;
				display: flex;
			}

			.txt-img-section .side-by-side p,
			.txt-img-section .side-by-side ul {
				order: 2;
			}

			.inner-banner-section {
				background: transparent linear-gradient(0deg, #9D0D71 0%, #300B55 100%) 0% 0% no-repeat padding-box;
				padding: 34px 0px;
			}

			.inner-banner-section p {
				font-size: 18px;
				line-height: 28px;
			}
		}



		.about-details article.wrapper {
			background: #FFF;
			padding: 50px;
			font-family: 'Gill Sans';
			border: 1px solid #DEDEDE;
			border-radius: 5px;
		}


		.about-details section.detail-text h6 {
			color: #750D67;
			font-size: 20px;
			margin: 20px 0px;
		}

		.video {
			width: 100%;
		}

		.video-section {
			position: relative;
		}

		.playButton {
			border-radius: 90px;
			border: 5px solid #fff;
			height: 100px;
			position: absolute;
			width: 100px;
			margin: auto;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			cursor: pointer;
		}

		.playButton:before {
			content: "";
			display: block;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 25px 0 25px 50px;
			border-color: transparent transparent transparent #fff;
			position: absolute;
			top: 0;
			left: 0;
			right: -10px;
			bottom: 0;
			margin: auto;
		}

		#business-details-banner-CarouselControls .videoWrapper {
			height: 490px;
			object-fit: cover;
		}