@import '~office-ui-fabric-react/dist/sass/References.scss';
:global {
  #workbenchPageContent,
  .CanvasComponent.LCS .CanvasZone {
    max-width: 100% !important;
  }
}
.career {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}

.welcome {
  text-align: center;
}

.welcomeImage {
  width: 100%;
  max-width: 420px;
}
.newsDetails{
  float: left;
    width: 50%;
}
.cardimgtop{
  width: 90px;
}
.con {
  font-size: 18px;
  color: #444;
  margin-bottom: 0;
  line-height: 28px;
  float: right;
  width: 50%;
}
.card{
  border: 1px solid #DFDFE1 !important;
    border-radius: 5px;
    height: 100%;
}
.main-content.careers-wrapper .section-wrapper h2 {
  font-size: 26px;
  color: #000;
  margin-bottom: 25px;
  line-height: 43px;
  float: right;
  width: 50%;
}
.links {
  a {
    text-decoration: none;
    color: "[theme:link, default:#03787c]";
    color: var(--link); // note: CSS Custom Properties support is limited to modern browsers only

    &:hover {
      text-decoration: underline;
      color: "[theme:linkHovered, default: #014446]";
      color: var(--linkHovered); // note: CSS Custom Properties support is limited to modern browsers only
    }
  }
}

